@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf');
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(img/desertBG.png);
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 36px;
    letter-spacing: 6px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
}

.panelHeader {
    display: block;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 20vh;
    right: 50vw;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

img {
    height: 64px;
    width: 64px;
}



.panelBottom {
    display: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
     
    h1 { 
        display: none;
    }

    .panelHeader {
        display: flex;
        position: fixed;
        top: 0;
        right: 10ch;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    img {
        height: 64px;
        width: 64px;
    }

    .panelBottom {
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: space-around;
        gap: 40vw;
    }

    button {
        height: 48px;
        width: 48px;
        border-radius: 35px;
        background-color: orange;
        font-size: 28px;
    }
    
}